#nav {
    display: flex;
    justify-content: space-between;
}

.recherche {
    width: 50rem;
    display: flex;
}

.search-drop {
    display: flex;
    flex-direction: row;
}

#img {
    width: 3rem;
    height: 4vh;
} 
    

