<form class="FormProduit" width="60%" height="60%">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="nom">Nom du produit</label>
      <input type="text" class="form-control" name="nom" #champNom="ngModel" [(ngModel)]="produitNew.nom" />
    </div>
    <div class="form-group col-md-4">
      <label for="Quantité">Quantité reçue</label>
      <input type="number" class="form-control" name="stock" #champStock="ngModel" [(ngModel)]="produitNew.stock" />
    </div>
    <div class="form-group col-md-4">
      <label for="prix">Prix unitaire</label>
      <input type="number" class="form-control" name="prix" #champPrix="ngModel" [(ngModel)]="produitNew.prix" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <input type="file" name="image" accept="image/png, image/jpeg" #champImage="ngModel"
        [(ngModel)]="produitNew.image" />
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Categorie</label>
      <select id="inputState" name="categorie" class="form-control" #champStock="ngModel"
        [(ngModel)]="produitNew.categorie">
        <option selected>Livre</option>
        <option>Jeux Videos</option>
        <option>DVD</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Sous-Catégorie</label>
      <select id="inputState" name="sous_categorie" class="form-control" #champStock="ngModel"
        [(ngModel)]="produitNew.sous_categorie">
        <option selected disabled>----Livres------</option>
        <option>Roman</option>
        <option>BD</option>
        <option>Manga</option>
        <option disabled>----Jeux Videos------</option>
        <option>Action</option>
        <option>Aventure</option>
        <option>RPG</option>
        <option disabled>----DVD------</option>
        <option>Films</option>
        <option>Séries</option>
        <option>Animation</option>

      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="text">Description du produit</label>
    <input type="text" name="desc" class="form-control" #champDescription="ngModel" [(ngModel)]="produitNew.desc" />
  </div>
  <div class="justity-content-center">
    <button type="submit" (click)="creation()" class="btn btn-primary">Enregistrer</button>
  </div>
</form>