Rechercher par :
<form class="form-example">
  <div class="form-example">
    <label for="name">Nom : </label>
    <input type="text" name="name" id="name" [(ngModel)]="nom">
  </div>
  <!-- <div class="form-example">
    <label for="email">Categorie</label>
    <input type="text" name="categorie" id="categorie" >
  </div> -->
  <select id="categorie" [(ngModel)]="categorie" name="categorie">
    <option value="">Choisir sa catégorie :</option>
    <option value="jeux">Jeux</option>
    <option value="film">Film</option>
    <option value="livre">Livre</option>
  </select>
  <div class="form-example">
    <label for="email">Sous-Categorie</label>
    <input type="text" name="sousCategorie" id="sousCategorie" [(ngModel)]="sousCategorie">
  </div>

  <!-- PARTIE EN DESSOUS A GARDER, LE BUTTON SERA REMPLACé PAR CELUI DE CYRIL -->

  <div class="form-example">
    <button (click)="search(1)">Recherchez</button>
  </div>
</form>

<!-- AFFICHE LE NOMBRE DE BOUTON DE LA PAGINATION ET RENVOI LES BONS RESULTATS AU CLICK -->

<div *ngIf="resultTotal > 0">
  <span *ngFor="let item of counter(resultTotal); index as i">
    <button (click)="search(i+1)">{{i+1}}</button>
  </span>
</div>