
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">

          <button class="btn btn-link" type="button" data-toggle="collapse" aria-expanded="true"
            aria-controls="collapseOne" [attr.data-target]="'#obj'+produit.id">
            <img src="{{produit.image}}" id="photo" />
          </button><br />
          {{produit.nom}}
        </h5>
      </div>
      <div id="obj{{produit.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <app-fiche-produit-utilisateur [produit]=produit></app-fiche-produit-utilisateur>
        </div>
      </div>
    </div>
  </div>
