
<div class="contenu">
        
    <div>
        <h1 style="display:flex; justify-content:center">NOS MEILLEURS JEUX</h1>
        <div>
            <app-liste-produit></app-liste-produit>
        </div>
    </div>
    <div>
        <h1 style="display: flex; justify-content: center">NOS MEILLEURS DVD</h1>
        <div>
            <app-liste-produit></app-liste-produit>
        </div>
    </div>
    <div>
            <h1 style="display: flex; justify-content: center">NOS MEILLEURS LIVRES</h1>
            <div>
                <app-liste-produit></app-liste-produit>
                
            </div>
        </div>
</div>
