<div id="all" style="background: floralwhite;">
  <div class="col-sm-6" id="nomDispo">
    <div class="col-sm-7">Nom du produit : {{produit.nom}}

      <div *ngIf="produit.actif; else elseBlock">
        Dispo : Oui
        <ng-template #elseBlock>
          Dispo : Non
        </ng-template>
      </div>
    </div>


    <div class="test">
      <div class="">
        <img src={{produit.image}} id="imgPanier" />
      </div>
    </div>
  </div>
  <div class="col-sm-6" id="cadre">
    <div>
      Description : <br>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
      squid.
      3 wolf moon
      officia aute, n
      on cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt
      aliqua put a bird on it
      squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
      anderson cred nesciunt sapiente
      ea proident. Ad vegan excepteur butcher vice lomo.
      Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
      them
      accusamus labore sustainable VHS.
    </div>
    <div class="row">
      <div class="col-sm-6">Prix : {{produit.prix}}€</div>
      <div class="col-sm-6">Quantite : {{quantite}}</div>
    </div>
  </div>



</div>