<div class="row">
    <div class="col-sm-10">Nom du produit : {{produit.nom}}</div>
    <div *ngIf="produit.actif; else elseBlock" class="col-sm-2">
      Dispo : Oui
      <ng-template #elseBlock class="col-sm-2">
        Dispo : Non
      </ng-template>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      <img src={{produit.image}} alt=""/>
    </div>
    <div class="col-sm-6">
      <div>
        Descritpion : <br>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
        3 wolf moon
        officia aute, n
        on cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
        aliqua put a bird on it
        squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
        anderson cred nesciunt sapiente
        ea proident. Ad vegan excepteur butcher vice lomo.
        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
        accusamus labore sustainable VHS.
      </div>
      <div class="row">
        <div class="col-sm-6">Prix : {{produit.prix}}€</div>
        <div class="col-sm-6">Quantite : {{produit.stock}}</div>
      </div>
      <div class="row">
        <br>
        <br>
        <div class="col-sm-6"><a class="nav-link" routerLink="/Panier"> <button type="button"
              class="btn btn-danger" (click)="delete(i)">Supprimer</button></a></div>
      </div>
    </div>
  </div>