<div class="accordion" id="accordionExample" *ngFor="let obj of produits; index as index">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">

        <div class="row">
          <div class="col-4">
            <button class="btn btn-link" type="button" data-toggle="collapse" aria-expanded="true"
              aria-controls="collapseOne" [attr.data-target]="'#obj'+obj.id">
              {{obj.image}}
            </button>
          </div>
          <div class="col-3">Nom du produit : {{obj.nom}}</div>
          <div class="col-3">Prix du produit : {{ obj.prix }}</div>
          <div class="col-2">
            <button type="button" class="btn btn-danger" (click)="deleteProduit(index)">Supprimer</button>
          </div>
        </div>
      
      </h5>
    </div>
    <div id="obj{{obj.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <app-fiche-detail-produit-panier [produit]="obj" [index]="index"></app-fiche-detail-produit-panier>
      </div>
    </div>
  </div> 
</div>