<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
  <div class="container justify-content-between">
    <button type="button" routerLink="/CreerProduit" class="btn btn-secondary">Gestion des produits</button>
    <a class="navbar-brand" routerLink="/Admin">Administrateur</a>
    <button type="button" routerLink="/Historique" class="btn btn-secondary">Gestion des commandes</button>
  </div>
  <div class="d-flex justify-content-end">
    <app-dropdown> </app-dropdown>
  </div>
</nav>
<!--
  
 -->