<header>
</header>
<nav>
  <!-- <app-menu></app-menu> -->
</nav>
<main>
  <!--   <app-search></app-search> -->
  <!--<app-creer-produit-admin></app-creer-produit-admin> -->
  <!--<app-menu-admin></app-menu-admin>-->
  <!--<app-accueil-admin></app-accueil-admin>-->
  <!--<app-creer-produit-admin></app-creer-produit-admin>-->
  <!-- <app-accueil-admin></app-accueil-admin>
  <app-login-page></app-login-page> -->
  <!-- <app-menu></app-menu>  -->

  <router-outlet></router-outlet>
</main>
<footer>
</footer>

<!-- <app-menu></app-menu> -->