<form class="FormCommandeProduit">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputState">Etat</label>
      <input type="text" id="inputState" name="etat" class="form-control" #champStock="ngModel"
        [(ngModel)]="commande.etat">
    </div>
    <div class="form-group col-md-6">
      <label for="inputState">Référence</label>
      <input type="text" id="inputState" name="reference" placeholder="blabla" class="form-control"
        #champStock="ngModel" [(ngModel)]="commande.reference">
    </div>

    <div class="form-group col-md-6">
      <label for="inputState">Prix Total</label>
      <input type="number" id="inputState" name="prixTotal" placeholder="blabla" class="form-control"
        #champStock="ngModel" [(ngModel)]="commande.prixTotal">
    </div>

  </div>

  <h1>Produits de cette commande</h1>
  <div *ngFor="let produitCommande of commande.produitCommandes" class="form-row">
    <div class="form-group col-md-4">
      {{produitCommande.id.produit.nom}}
    </div>
    <div class="form-group col-md-4">
      <label for="Quantité">Quantité</label>
      <input type="number" placeholder="blabla" class="form-control" name="quantite" #champStock="ngModel"
        [(ngModel)]="produitCommande.quantite" />
    </div>
    <div class="form-group col-md-4">
      <label for="prix">Prix unitaire</label>
      <input type="number" placeholder="blabla" class="form-control" name="prix" #champPrix="ngModel"
        [(ngModel)]="produitCommande.id.produit.prix" />
    </div>
  </div>
  <div class="justity-content-center">
    <button type="submit" (click)="modifCommande()" class="btn btn-primary">Enregistrer</button>
    {{msg}}
  </div>
</form>