<div class="section justify-content-center border row">
  <section class="produits col">
    <div class="titre justify-content-center text-center">
      <h1>Gestion des Produits</h1>
      <ul>
        <li><a href="http://localhost:4200/CreerProduit">Ajouter un produit au catalogue</a></li>
        <li><a href="http://localhost:4200/ModifProduit">Modifier ou supprimer un produit du catalogue</a></li>
      </ul>
    </div>
  </section>
  <section class="commandes col">
    <div class="text-center">
      <h1>Gestion des Commandes</h1>
      <ul>
        <li><a href="http://localhost:4200/Historique-cmd">Historique des commandes</a></li>
      </ul>
    </div>
  </section>
</div>